[Desktop Entry]
Name=GNOMEConnect
GenericName=GNOMEConnect
Comment=Integrate your phone and your computer
Exec=/bin/bash -i -c "\$GOPATH/bin/gnomeconnect"
Icon=phone
Type=Application
Categories=Network
