[Desktop Entry]
Name=GNOMEConnect
GenericName=GNOMEConnect
Comment=Integrate your phone and your computer
Exec=gnomeconnect
Icon=phone
Type=Application
Categories=Network
